@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200..900&display=swap');

body {
    font-family: 'Alexandria', sans-serif;
    color: color(Black);
}

h1, h2, h3, h5, h6, .h1 {
    font-weight: 700;
}

h2, h3 {
    letter-spacing: -0.02em;
}

h3, h4 {
    font-size: 48px;
}

h3, h4, h5 {
    line-height: 1.2;
}

h4, h5, h6 {
    letter-spacing: -0.01em;
}

h1, .h1 {
    font-size: 110px;
    line-height: 0.95;
    letter-spacing: -0.03em;
}

h2 {
    font-size: 76px;
    line-height: 1;
}

h4 {
    font-weight: 600;
    font-style: italic;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 26px;
    line-height: 1.5;
}

p, .body-1, li {
    font-size: 22px;
}

p, .body-1, .body-2, li {
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0;
}

p strong, .body-1 strong {
    font-weight: 700;
}

.body-2 {
    font-size: 16px;
}

.subtitle-1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: 0.2em;
}

.subtitle-2, .subtitle-3 {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.1em;
}

.subtitle-2 {
    font-size: 20px;
    text-transform: uppercase;
}

.subtitle-3 {
    font-size: 14px;
}
