$color: (
    Black: #000000, 
    White: #ffffff, 
    Grey: #2c3e50,
    Orange: #ff6a16,
    NavyBlue: #0e102b,
    DarkBlue: #3338a1, 
    MediumBlue: #3a43c4,
    LightBlue: #4d6cd4,
    Cyan: #67dff9
);

@function color($key, $alpha: 1) {
	@return rgba(map-get($color, $key), $alpha);
}

$gradient: linear-gradient(color(LightBlue) 5%, color(NavyBlue) 95%);

$size-h-xs: 8px;
$size-h-sm: 16px;
$size-h-md: 24px;
$size-h-lg: 32px;
$size-h-xl: 40px;

$size-v-xxs: 12px;
$size-v-xs: 16px;
$size-v-sm: 32px;
$size-v-md: 48px;
$size-v-lg: 64px;
$size-v-xl: 120px;

$transition-duration: 300ms; 
$transition-function: ease; 