<template>
    <section class="About">
        <div class="content-area">
            <Headline :eyebrow="eyebrow"
                      :header="header"
                      :description="description"
                      :label="label"/>
            <div class="card">
                <div class="image-wrapper">
                    <img src="../assets/images/wifi.png" alt="" class="wifi-icon">
                </div>
                <img src="../assets/images/about.jpg" alt="" class="main-image">
                <div class="experience-card">
                    <h2>{{years}}</h2>
                    <p>{{experience}}</p>
                </div>
            </div>
        </div>
        
    </section>
</template>

<script>

import Headline from './Headline.vue';

export default {
    name: 'About',
    components: {
        Headline
    }, 
    props: {
        years: { type: String, default: '15+' },
        experience: { type: String, default: 'years experience' }
    },
    data() {
        return {
            eyebrow: 'Who we are', 
            header: 'Empowering people through technology.', 
            description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi tempore repellat optio tempora beatae quibusdam eius.', 
            label: 'Discover more'
        };
    }
};
</script>
    
<style lang="scss" scoped>
.About {
    background: color(DarkBlue);

    width: 100%;
    padding: 200px 0;
}

.content-area {
    display: flex;
    flex: 0 1 50%;
    justify-content: space-between;

    position: relative;
    
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;

}

.card {
    width: 40%;

    position: relative;

}

.card .main-image {
    max-width: 600px;

    border-radius: 15px;
}

.image-wrapper {
    background: color(White);

    width: 100px;
    height: 100px;

    border-radius: 50%;

    display: flex;
    justify-content: center;

    position: absolute;
    top: -2rem;
    left: 34.5rem;
}

.image-wrapper img {
    width: 60%;
    object-fit: contain;
}

.experience-card {
    background: color(White);

    max-width: 300px;
    padding: 20px 40px;

    border-radius: 15px;

    text-align: center;

    position: absolute;
    bottom: 10rem;
    left: -3rem;

}

.experience-card :deep(h2) {
    color: color(Orange);
}

.experience-card :deep(p) {
    color: color(Darkblue);
    text-transform: capitalize;
}
</style>
