<template>
    <button class="button">
        <p>{{label}}</p>
    </button>
</template>

<script>

export default {
    name: 'Button',
    props: {
        label: { type: String, default: 'Label' }
    }
};
</script>

<style lang="scss" scoped>
.button {
    display: inline-block;
    
    appearance: none;
    outline: none;
    border: none;
    border-radius: 40px;

    background-color: color(Orange);
    color: color(White);
    padding: 15px 30px;
    max-width: 250px;

    font-family: 'Alexandria';

    transition: color $transition-duration $transition-function;
}

.button:hover {
    background-color: color(White);
    color: color(Orange);

    cursor: pointer;
}
</style>
