<template>
    <div class="headline">
        <p class="eyebrow">{{eyebrow}}</p>
        <h2>{{header}}</h2>
        <p>{{description}}</p>
        <Button :label="label"/>  
    </div>
</template>

<script>

import Button from './Button.vue';
export default {
    name: 'Headline', 
    components: {
        Button
    },
    props: {
        eyebrow: { type: String, default: 'Lorem Ipsum' },
        header: { type: String, default: 'Lorem ipsum' },
        description: { type: String, default: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi tempore repellat optio tempora beatae quibusdam eius.' },
        label: { type: String, default: 'Label' }
    }
};

</script>

<style lang="scss" scoped>
.headline {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: $size-h-sm;

    z-index: 10;
    color: color(White);
}

p, h2 {
  text-align: left;
  max-width: 50%;

}

.eyebrow {
  text-transform: uppercase;
}
</style>
