<template>
    <section class="Hero">
        <img src="../assets/images/hero-image.jpg" alt="" class="hero-bg">
        <div class="body content-area">
            <Headline :eyebrow="eyebrow"
                      :header="header"
                      :description="description"
                      :label="label" /> 
            <Partners />
        </div>
    </section>
</template>

<script>

import Headline from './Headline.vue';
import Partners from './Partners.vue';

export default {
    name: 'Hero',
    components: {
        Headline,
        Partners
    },
    data() {
        return {
            label: 'Discover more',
            eyebrow: 'Fast internet connection',
            header: 'Stop wasting time. Start connecting.',
            description: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi tempore repellat optio tempora beatae quibusdam eius.'
        };
    }
};
</script>

<style lang="scss" scoped>
.Hero {
    position: relative;
    
    width: 100%;
    padding: 50px 0;

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.Hero::before {
  content: '';

  background: $gradient;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 0;
}

img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;

    opacity: 0.2;
    z-index: 0;
}

.content-area {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: $size-h-sm;

    margin-top: 360px;
    z-index: 10;
    color: color(White);

}





</style>