<template>
    <div class="logo">
        <h3>speednet</h3>
        <img src="../assets/images/wifi.png" alt="wifi-logo">
    </div>
</template>

<script>

export default {
    name: 'Logo'
};
</script>

<style lang="scss" scoped>
.logo {
  display: flex;
  padding: auto 0;

  font-family: 'Alexandria';
  color: color(White);
}

.logo img {
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 100% 0;
}
</style>
