<template>
    <section class="Navbar">
        <Logo/>
        <div class="navlinks">
            <div class="navlink" v-for="(navlink,id) in navlinks" :key="id">
                <a href="#" :class="['link', dropDown = navlink.isDropDown]">
                    <span>{{navlink.name}}</span></a>
                <img v-if="navlink.isDropDown" src="../assets/images/down-arrow.png" alt="">
            </div>
        </div>
        <Button :label="label" />
    </section>
    
</template>

<script>
import Logo from './Logo.vue';
import Button from './Button.vue';
export default {
    name: 'Navbar',
    components: {
        Logo,
        Button
    }, 
    props: {
        navlinks: { type: Array, default: () => [] }
    }, 
    data() {
        return {
            label: 'Get Started'
        };
    }
};
</script>

<style lang="scss" scoped>
.Navbar {
    position: fixed; 
    top: 60px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 40px;
    margin: 0 auto;
    border-radius: 10px;

    background-color: color(DarkBlue);

    z-index: 999;
}

.navlinks {
    display: flex;
    justify-content: right;
    flex-grow: 2;
    gap: 40px;

    padding-right: 40px;
}

.navlink {
    text-align: center;
}

.navlink a {
    text-decoration: none;
    color: color(White);
    text-transform: uppercase;
    transition: color $transition-duration $transition-function;
}

.navlinks a:hover {
    color: color(Orange);
}

.navlink img {
  width: 15px;
  filter: invert(100%);
}


</style>
