<template>
    <div class="brand-services">
        <hr>
        <div class="brands">
            <img v-for="(brand, id) in brands" :key="id" v-bind:src="brand.url" alt="">
        </div>
    </div>
</template>

<script>

export default {
    name: 'Partners', 
    props: {
        brands: { type: Array, default: () => [
            {
                url: '/images/brands/android-logo.png'
            },
            {
                url: '/images/brands/byte-logo.png'
            },
            {
                url: '/images/brands/eunoia-logo.png'
            },
            {
                url: '/images/brands/fox-hub-logo.png'
            },
            {
                url: '/images/brands/meta-logo.png'
            },
            {
                url: '/images/brands/uber-eats-logo.png'
            }
        ] }
    }

};
</script>

<style lang="scss" scoped>
.brand-services {
    margin-top: $size-v-md;
}

hr {
  background: color(LightBlue);
  height: 1px;
  border: none;
  width: 100%;
}

.brands {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brands img {
    width: 15%;
    object-fit: contain;
}

</style>
