<template>
    <section class="Services">
        <div class="service" v-for="(service, id) in services" :key="id">
            <img v-bind:src="service.url" alt="">
            <p>{{service.name}}</p>
        </div>
    </section>
</template>

<script>

export default {
    name: 'Services', 
    props: {
        services: { type: Array, default: () => [
            {
                name: 'internet',
                url: '/images/services/wifi.png'
            },
            {
                name: 'satellite tv',
                url: '/images/services/monitor.png'
            },
            {
                name: 'voip',
                url: '/images/services/phone.png'
            },
            {
                name: 'cloud storage',
                url: '/images/services/cloud.png'
            },
        ] }
    }
};
</script>

<style lang="scss" scoped>

.Services {
    background: color(MediumBlue);

    padding: 40px 140px;

    display: flex;
    flex: 0 1 25%;
    justify-content: space-evenly;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    text-align: center;

    // margin: 0 auto;
    padding: 0 5%;
}

.service + .service {
    border-left: 1px solid color(LightBlue);
}

.service img {
    width: 20%;

    margin: 0 auto;
}

.service :deep(p) {
    text-transform: uppercase;
    color: color(White);
    font-size: 16px;
    letter-spacing: 1px;
}

</style>