<template>
    <div class="testimonial-card">
        <div class="circle-border">
            <div class="circle"></div>
        </div>
    </div>
</template>

<script>

export default {

};
</script>

<style lang="scss" scoped>
.circle {
    position: relative;
    top: 5px;
    left: 5px;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: color(DarkBlue);
}

.circle-border {
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    margin-left: 30%;
    border-radius: 100%;
    background: linear-gradient(270deg, color(Cyan) 50%, transparent 50%), 
                linear-gradient(0deg, color(Cyan) 50%, color(NavyBlue) 50%)
}
</style>
