<template>
    <section class="Testimonials">
        <img src="../assets/images/testimonials.jpg" alt="">
        <div class="content-area">
            <h1>{{header}}</h1>
            <p>{{description}}</p>
        </div>
        <TestimonialCard />
    </section>
</template>

<script>

import TestimonialCard from './TestimonialCard.vue';

export default {
    name: 'Testimonials', 
    components: {
        TestimonialCard
    },
    props: {
        header: { type: String, default: 'lorem ipsum' }, 
        description: { type: String, default: 'lorem ipsum' }
    }
};
</script>

<style lang="scss" scoped>
.Testimonials {
    position: relative;
    
    width: 100%;
    padding: 150px 0;

    display: flex;
    align-items: center;
    margin: 0 auto;
}

.Testimonials::before {
  content: '';

  background: $gradient;

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 0;
}

img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;

    opacity: 0.2;
    z-index: 0;
}

.content-area {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    z-index: 10;

    color: color(White);
    text-align: center;
    
}
</style>
