<template>
    <section class="App">
        <Navbar :navlinks="navlinks"/>
        <Hero />
        <Services />
        <About />
        <Testimonials />
    </section>
    
</template>

<script>

import Navbar from './components/Navbar.vue';
import Hero from './components/Hero.vue';
import Services from './components/Services.vue';
import About from './components/About.vue';
import Testimonials from './components/Testimonials.vue';

export default {
    name: 'App',
    components: {
        Navbar,
        Hero,
        Services,
        About, 
        Testimonials
    }, 
    data() {
        return {
            navlinks: [
                {
                    name: 'home',
                    isDropDown: false
                },
                {
                    name: 'package',
                    isDropDown: false
                },
                {
                    name: 'services',
                    isDropDown: true,
                    options: [
                        'option 01',
                        'option 02',
                        'option 03'
                    ]
                },
                {
                    name: 'contact us',
                    isDropDown: false
                },
                {
                    name: 'pages',
                    isDropDown: true, 
                    options: [
                        'option 01',
                        'option 02',
                        'option 03'
                    ]
                }
            ]
        };
    }
};
</script>

<style lang="scss">
.App {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
</style>
